---
title: monstergrill.io - Das Gründer Grillen in Münster
---
%section.header
  .innerheader
    = link_to(image_tag('monstergrill-veggiemonster-logo.png', :alt => "Monstergrill.io"), "/")
%section.middle
  .topmiddle Monstergrill.io ist ein Networking Event, welches sich an Gründer, Gründungsinteressierte, Selbstständige, Freelancer, Technologiebegeisterte, Maker und anderweitig Kreative richtet.
  .mainmiddle
    .inner
      %h2 Be Veggie!
      .save-the-steak
        12.12.2013 - ab 12h 
        %br
        = link_to "Birkenwald", "https://www.facebook.com/birkenwald"
        Eintritt 10 EUR
        %br
        .eventbrite
          :erb
            <a href="https://www.eventbrite.de/e/veggiemonster-tickets-9537277253" target="_blank"><img src="http://www.eventbrite.com/custombutton?eid=7708405047" alt="Eventbrite - Monstergrill" /></a>
      .ticketsection
        #mc_embed_signup.signup 
          %form#mc-embedded-subscribe-form.validate{:action => "http://boyne.us7.list-manage.com/subscribe/post?u=9dfe2ae530202cf543f23649c&amp;id=f08d2bbc57", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            %div
              %p
                Um mehr Infos zu monstergrill.io zu bekommen, trag bitte Deine E-Mail Adresse ein!
              .mc-field-group
                %input#mce-EMAIL.required.email{:name => "EMAIL", :placeholder => "E-Mail Adresse", :type => "email", :value => ""}/
                %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Eintragen!"}/
                #mce-responses.clear
                  #mce-error-response.response{:style => "display:none"}
                  #mce-success-response.response{:style => "display:none"}
                  .clear
%section.map
  #map
%section.mission
  .inner
    %h2 Mission
    %div
      %p Münster ist bekannt für Fahrräder, Studenten, Tretboote in Schwan-Form, Uni, Aasee und seine historische Altstadt. Münster ist aber auch eine Stadt für technologiebegeisterte Kreative. 
      
      %p Mit dem Event möchten wir Gründer, Gründungsinteressierte, Selbstständige, Freelancer, Technologiebegeisterte, Maker und anderweitig Kreative aus Münster zusammen bringen, damit neue Ideen entstehen können. 

      %p Nachdem wir beim letzten Mal gegrillt haben, machen wir nun das Gegenteil: neben dem Networking werden wir vegetarische Gerichte im Birkenwald genießen. Da wir unbedingt noch ein Event in 2013 machen wollten, haben wir uns für ein Mittags-Event im Dezember entschieden. Würde uns freuen, wenn ihr Zeit hättet. 

%section.delicious#dishes
  %h2 Gerichte
  %ul{:class => "list"}
    %li
      %span.deliciousItem Cous-cous mit glasiertem Kürbis und Rosmarinhonig
    %li
      %span.deliciousItem Rote-Beete-Risotto (knallrot!) mit gedünsteten Steckrüben und Kohlrabi
    %li
      %span.deliciousItem Reisnudeln in Kokossauce mit geschmortem Chinakohl und bunten Gemüsestreifen
    %li
      %span.deliciousItem Laksa - asiatische Reisnudelsuppe mit Kokosmilch und Chili
  %button.sort#delSort Shuffle!
%section.aboutus
  .inner
    %h2 Über Uns
    %div
      .profile
        .profilepic
          = image_tag 'monstergrill-peter-grosskopf.png'
        %h3 Peter Grosskopf
        .bio
          %p 
            Gründer/Geschäftsführer der 
            = link_to "Zweitag GmbH", "http://www.zweitag.de/en", :class => "social"
            , einer Beratung für professionelles Software Engineering, welche sich auf Technologien rund um Ruby on Rails spezialisiert hat. Vor Zweitag hat er als Freelance Webentwickler in Enterprise- (z.B. bei Victoria/Ergo und Celesio) und Start-Up-Projekten gearbeitet.
          %p
            = link_to "Twitter", "https://twitter.com/peterlih", :class => "social"
            %br
            = link_to "Xing", "https://www.xing.com/profiles/Peter_Grosskopf", :class => "social"
      .profile
        .profilepic
          = image_tag 'monstergrill-johannes-boyne.png'
        %h3 Johannes Boyne
        .bio
          %p 
            Gründer der 
            = link_to "ARCHKOMM GmbH", "http://www.archkomm.com/", :class => "social" 
            und I/O-Fanatiker, der die “Unix Philosophie” als Nachtlektüre hat. Als Startup Gründer, Berater und Entwickler von IT- und Cloud-Systemen ist er seit einigen Jahren in der Entwicklungsszene um und in NRW aktiv.
          %p
            %br
            = link_to "Twitter", "https://twitter.com/johannesboyne", :class => "social"
            %br
            = link_to "Xing", "https://www.xing.com/profiles/Johannes_Boyne", :class => "social"

%section.supporter
  %h2 Supporter
  = link_to(image_tag('monsterveggie-birkenwald.jpg', :alt => "Birkenwald Münster", :height => 120), "https://www.facebook.com/birkenwald")
  = link_to(image_tag('monstergrill-supporter-zweitag.png', :alt => "Zweitag Gmbh"), "http://www.zweitag.de")
  = link_to(image_tag('veggiemonster-supporter-buero-im-apollo.png', :alt => "Büro im Apollo", :height => 130), "http://www.buero-im-apollo.de/")
  = link_to(image_tag('veggiemonster-supporter-contelligence-solutions.png', :alt => "Contelligence Solutions", :height => 90), "http://www.contelligence-solutions.de/")
  = image_tag 'monstergrill-sponsor-dummy.png', :onclick =>'javascript: window.location.href = "mailto:steak@monstergrill.io";'
  = image_tag 'monstergrill-sponsor-dummy.png', :onclick =>'javascript: window.location.href = "mailto:steak@monstergrill.io";'
/ <3
%section.handcreatedfooter
  .made-with-love
    = image_tag 'made-with-love-in-muenster.png'
%section.footer
  %p
    %b Kontakt:
    0151-22657236 -
    = link_to "steak@monstergrill.io", "mailto:steak@monstergrill.io", :class => "contact-link"
    = link_to "Facebook", "https://www.facebook.com/monstergrill.io", :class => "contact-link"
    = link_to "Twitter", "https://twitter.com/monstergrillio", :class => "contact-link"